<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - xtools</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/xtools.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div>
                    <ul>
                        <li><a asp-area="" asp-page="/Index">Home</a></li>
                        <li><a asp-area="" asp-page="/Xsearch">Xsearch</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
