@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <ul class="list-unstyled">
    <li><a href="@Url.Page("Xhome")">Xhome</a></li>
    <li><a href="@Url.Page("Xsearch")">Xsearch</a></li>
  </ul>
</div>
